@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text)
}

:root {
    --primary: #166534;
    --secondary: #f97316;
    --background: #f8fafc;
    --text: #111827;
    --white: #ffffff
}